@{
    ViewData["Title"] = "Documentation";
}

<div class="card text-white bg-secondary border-light mb-3" style="max-width: auto;">
    <div class="card-header text-center border-light">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="card-body mb-3">
        <h3>Sotfware Architecture</h3>        
        <img src="~/img/Architecture.jpg" alt="UI & Libraries">
        <h3>Class Diagram</h3>
        <img src="~/img/Class Diagrams.jpg" alt="Diagram of classes" width="1200" height="1100">
    </div>
    <div class="card-footer border-light text-center">
        <p>Software Project - Hash and Encryption</p>
    </div>
</div>
