@model HashingViewModel
<div class="text-center">
    <h1 class="display-4">Simple Hashing</h1>
    <p>Dont smoke It, Encrypt It!</p>
</div>

<form asp-controller="Home" asp-action="Hashing" method="post">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-8">
                <div class="form-group">
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" asp-for="SelectedHashingTypes">Hashing Algorithm: </label>
                            <select class="form-select" asp-for="SelectedHashingTypes" asp-items="Model.HashingTypes">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-8">
                <div class="form-group">
                    <div class="row">
                        <div class="mb-3">
                            <label asp-for="Input" class="form-label">Input string: </label>
                            <input class="form-control" asp-for="Input" placeholder="Type string to be hashed here" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-8">
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Convert to Hash</button>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col">
    </div>
    <div class="col-8">
        @if (Model.OutputHashValue != null)
        {
            <div class="alert alert-success" role="alert">
                <p>Input: @Model.OutputHashString</p>
                <p>Hashing value: @Model.OutputHashValue</p>
            </div>
        }
    </div>
    <div class="col">
    </div>
</div>
