@{
    ViewData["Title"] = "Hashing and Encryption";
}

<div class="card text-white bg-secondary border-light mb-3" style="max-width: auto;">
    <div class="card-header text-center border-light">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="card-body mb-3">
        <p>This song is about shooting blod out of our cock!</p>
    </div>
    <div class="card-footer border-light text-center">
        <p>4th School period on ZBC Ringsted</p>
    </div>
</div>
