
@{
    ViewData["Title"] = "Login Site";
}

<div class="card text-white bg-secondary border-light mb-3" style="max-width: auto;">
    <div class="card-header text-center border-light">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="card-body mb-3">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">                
                <div class="card bg-success border-light">
                    <div class="card-body">
                        <h1 class="alert-heading">Great Succes :)</h1>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="card-footer border-light text-center">
        <div class="container">
            Back to <a asp-area="" asp-controller="Login" asp-action="Index">login</a>
        </div>
    </div>
</div>
